.transition {
    transition: transform 0.1s ease, opacity 0ms linear 0.1s,
        visibility 0ms linear 0.1s;
}

/* .dropdown_container {
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    max-height: 800px;
    top: 60px;
    left: 0;
    right: 0;
    transition: transform 0.1s ease, opacity 0ms linear 0.1s,
        visibility 0ms linear 0.1s;
    transform-origin: top center;
    transform: scaleY(0);
} */
